body[light] {
  background-color: $color__light--background;
  color: $color__light--foreground;

  a {
    color: $color__light--blue;
  }
}

@import "button";
@import "input";
@import "navbar";
@import "panel";
@import "tag";
