body[dark] {
  background-color: $color__dark--background;
  color: $color__dark--foreground;

  a {
    color: $color__dark--blue;
  }
}

@import "button";
@import "input";
@import "navbar";
@import "panel";
@import "tag";
