!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Cerberus
    -# %link{:href => "cerberus.css", :rel => "stylesheet", :type => "type/css", :media => "all"}
    :css
      @import url("./cerberus.css");
  %body
    %x-nav{:primary => true}
      %x-nav-section{:grow => true}
        %x-nav-item{:brand => true}
          %a{:href => "./"} Cerberus
    :javascript
      var time = new Date().getHours();
      if ((time >= 20 && time <= 23) || (time >= 0 && time <= 4)) {
        document.body.setAttribute("dark", "");
      } else {
        document.body.setAttribute("light", "");
      }
