body[dark] {
  nav {
    &, &[primary] {
      background-color: $color__dark--white;
      item {
        background-color: $color__dark--white;
        &:hover {
          background-color: darken($color__dark--white, 10%);
        }
        > * {
          color: $color__dark--background;
        }
      }
    }
    &[secondary] {
      background-color: $color__dark--red;
      item {
        background-color: $color__dark--red;
        &:hover {
          background-color: darken($color__dark--red, 10%);
        }
        > * {
          color: $color__dark--background;
        }
      }
    }
  }
}
